body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/ff5587c5-1052-47cf-974b-a97e3b4f0656/38151488-b3ad-4336-b528-063676131f98/TR-tr-20240506-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}

h1 {
    color: red;
}


/* header */
header {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    gap: 1rem;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

header nav a:hover {
    color: red;
}


.user-panel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[name="search"] {
    width: 20vw;
    max-width: 10rem;
    padding: 0.3rem 30px 0.3rem 0;
    border: 2px solid white;
}

.search-icon {
    margin-left: -40px;
    color: white;
}
.notification-icon {
    font-size: 1.4rem;
    border-radius: 100%;
    color: white;
}

.user-image {
    width: 2.5rem;
    border-radius: 100%;
    border: 2px solid white;
}

/* main section */
main,section {
    padding: 1rem;
}

.hero-video {
    
    background: url("https://picsum.photos/500?1");
    background-size: cover; 
    color: white;
    padding: 2rem;
    aspect-ratio: 6/2;
    display: flex;
    align-items: center;
}

.rating-section i {
    color: red;
}

.rating {
    padding: 0 0.4rem;
    border: 1px solid white;
    border-radius: 0.2rem;;
    margin: 0 1rem;
}

.hero-video h2 {
    color: rgb(238, 204, 10);
    font-size: 4rem;
    margin: 1rem 0;
}

.movie-info {
    width: 60%;
}

.hero-movie-details {
    font-weight: 500;
    margin: 1rem 0;
}

.hero-movie-details p {
    font-size: 0.9em;
    margin: 0.3rem 0;
}

.red {
    color: red;
}

.btn {
    background: red;
    font-weight: 500;
    color: white;
    display: inline-block;
    position: relative;
}

.btn-lg {
    padding: 0.7rem 2.1rem;
    border-radius: 0.5rem;
    font-size: 0.9em;
}

.btn i { 
    position: absolute;
    left: .7em;
}

.btn-md {
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 0.7em;
}


/* suggestiobn section */
.suggestion-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.suggestion-container {
    display: flex;
    justify-content: space-between;
}

.suggestion-card {
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem;
    background: url("https://picsum.photos/500?2");
    color: white;
    width: 30%;
}

.suggestion-card .rating {
    margin-left: 0;
}

.suggestion-card .rating-section {
    margin-bottom: 1rem;
}

.suggestion-card:nth-child(2) {
    background: url("https://picsum.photos/500?3");
}

.suggestion-card:nth-child(3) {
    background: url("https://picsum.photos/500?4");
}

/*footer*/
.footer-section{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0.5rem 1rem 0 1rem;
}
.footer-nav a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 0 2% 0 0;
}
.footer-nav p{
    width: 50vw;
}
.footer-followUs{
    display: inline;
    
}
.footer-followUs h5{
    margin-top: 0;
    font-weight: 300;
}
.footer-followUs i{
    font-size: 2rem;
}
.footer-app{
    display: inline-block;
    width: 30%;
    margin-right: -5%;
}
.footer-app div{
    margin-top: -8%;
    width: 20vw;
}
.footer-app h5{
    display: block;
    margin-top:0;
    font-weight: 300;
}
.footer-app img{
    
    width: 10rem;
    margin-top: -5%;
    
}
.footer-app img:first-child{
    margin-right: 1rem;
}
